
{% extends "paginas/base.html" %}
{% block taxis %}

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th >ID</th>
                <th >TAXI</th>
                <th >Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td scope="row">001</td>
                <td>Chevrolet</td>
                <td>Cororote</td>
            </tr>
            
        </tbody>

    
        <tbody>
            <tr class="">
                <td scope="row">001</td>
                <td>Chevrolet</td>
                <td>Cororote</td>
            </tr>
            
        </tbody>
    </table>
</div>

{% endblock%}

